  body {
            background-color: rgb(34, 33, 33);
  }

  * {
            margin: 0;
            padding: 0;
  }

  header {
            background-color: rgb(234, 255, 0);
            position: sticky;
            top: 0;
  }

  nav ul {
            list-style: none;
            display: flex;
            padding: 2px;
  }

  ul li {
            margin: 15px;
            color: rgb(0, 0, 0);
            font-weight: bolder;
  }

  .box {
            border: 2px solid rgb(246, 4, 4);
            margin: 7px;
            height: 550px;
            background-color: rgb(8, 166, 184);
            display: flex;
  }

  .box1 {
            border: 2px solid rgb(0, 0, 0);
            margin: 50px;
            background-color: pink;
            width: 700px;

  }

  .box2 {
            background-color: rgb(146, 146, 238);
  }

  .logo {
            margin: 11px;
            display: flex;
            justify-content: flex-end;
            overflow: auto;
  }

  img {
            position: fixed;
            bottom: 0;
  }

  .box3 {
            border: 3px solid rgb(253, 251, 251);
            height: 200px;
            border-radius: 40px;
            margin: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 50px;
            color: rgb(252, 250, 250);
  }

  footer {
            background-color: rgb(235, 216, 216);
            padding: 5px;
            text-align: center;
            color: rgb(17, 16, 16);
            font-weight: bold;
  }