.container{
          border: 5px solid red;
          display: flex;
          height: auto;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          /* column-gap: 30px;
          row-gap: 10px; */
          gap: 30px 10px;
}
.item{
          height: 50px;
          width: 50px;
          /* margin: 10px; */
          border: solid black;
          background-color: gold
}